<!doctype html>
<html ng-app="cacheTestApp">
	<head>
		<title>Cache Test</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript">
		angular.module('cacheTestApp', [])
		  .controller('cacheTestController', function($http) {
			  var self = this;

			  self.config = {
				  headers: {
					  Authorization: "Bearer 12345ABC",
					  dealershipId: 3},
				  params : {
					  data: {
						  filter : ["Amount"]
					  }
				  }
			  };

			  self.dataString = JSON.stringify(self.config.params.data);

			  self.click = function() {
					self.config.params.data = JSON.parse(self.dataString);
					$http.get("http://localhost:8088/data/", self.config)
						.success(function(data, status, headers, config) {
							self.data = data;
						});
				};
			});
		</script>
	</head>
	<body>
		<div ng-controller="cacheTestController as cacheTest">
			<p>Authorization: {{cacheTest.config.headers.Authorization}}</p>
			<p>Create Date: {{cacheTest.data.created}} </p>
			<p>Set new Authorization: <input type="text" name="auth" ng-model="cacheTest.config.headers.Authorization"></p>
			<p>Set new dealershipId: <input type="text" name="dealershipId" ng-model="cacheTest.config.headers.dealershipId"></p>
			<p>Set new filter: <input type="text" name="filter" ng-model="cacheTest.dataString"></p>
			<p><button ng-click="cacheTest.click()">Get Data</button></p>
		</div>
	</body>
</html>